<!--NAVIGATION-->
<header ng-init="aTag='View Friends'">

  <img class="nav-button" src="images/Icons/Back-Arrow.svg"  ng-click="back()">
  <h6>DevMountain</h6>
  <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--PROFILE INFORMATION & FRIEND SEARCH-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">{{pfFirst}}</h1>
        <h1 id="last-name">{{pfLast}}</h1>
        <p id="tagline">{{pTagline}}</p>
        <pre class="para">{{pBio}}</pre>
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">

        <!--FRIEND SEARCH BAR-->
        <div class="friend-header">

            <!--SORT BUTTON-->
            <button id="sortBtn" ng-model="sortDirection" ng-click="setDir()">ASCENDING</button>
            <h4>Friends</h4>

            <!--SEARCH BUTTON-->
            <img class="nav-button" id="toggle-search" src="images/Icons/Search.svg">
            <input class="search-friends" id="animate" placeholder="Search Friends" ng-model="friendFilter">

        </div>

        <!--FRIEND PICTURES-->
        <div class="friend-pics">
          <div class="pic" ng-repeat="f in friends | filter: friendFilter | orderBy: sortDirection">
            <img src="{{f.profileUrl}}">
            <div class="hover-over">
              <p>{{f.name}}</p>
              <pre ng-click="storeFriend(f)" ui-sref="fProfile">View Profile</pre>
            </div>
          </div>
        </div>

    </section>

</main>
