<!--NAVIGATION-->
<header ng-init="aTag='n'">

    <img class="nav-button" src="images/Icons/Back-Arrow.svg" ng-click="back()">
    <h6>DevMountain</h6>
    <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--FRIEND PROFILE INFORMATION & FRIEND PROFILE PICTURE-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">{{pfFirst}}</h1>
        <h1 id="last-name">{{pfLast}}</h1>
        <p id="tagline">{{pTagline}}</p>
        <p class="para">{{pBio}}</p>
        <input class="btn-add-friend" type="submit" value="ADD FRIEND">
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">
        <div class="triangles">
            <div class="background-triangle">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAOQAAAAJGRkYzVlZjc1LThiOTAtNDY4MS05MTEyLWFhNjgzNTRkNmUwZQ.jpg">
            </div>
            <div class="profile-triangle">
                <img id="profile-pic" src="">
            </div>
            <div class="profile-shadow1"></div>
            <div class="profile-shadow2"></div>
            <div class="profile-shadow3"></div>
        </div>
    </section>

</main>
