<!--NAVIGATION-->
<header>

    <img class="nav-button" src="images/Icons/Back-Arrow.svg">
    <h6>DevMountain</h6>
    <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--FRIEND PROFILE INFORMATION & FRIEND PROFILE PICTURE-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">Chis</h1>
        <h1 id="last-name">Johnson</h1>
        <p id="tagline">SOME AWESOME TAGLINE ABOUT YOU</p>
        <p class="para"> Lorem ipsum dolor sit amet, luctus neque adipiscing.
            Fusce taciti, nec porta varius, nec turpis. Tristique
            lacus sem, aliquam feugiat amet, purus fusce ipsum.
            In eget, vestibulum a mauris, et amet enim. Ornare lacus.
            Tincidunt praesent, quia euismod, aliquam vestibulum. Amet eget
            volutpat. Quam vehicula enim. Numquam est vel, wisi scelerisque.</p>
        <p class="para"> Id nibh rhoncus, ullamcorper ipsum, ullamcorper eget nulla.
            Velit suscipit proin. Tincidunt praesent, quia euismod,
            aliquam vestibulum. Amet eget volutpat. Quam vehicula enim.
            Numquam est vel, wisi scelerisque.</p>
            <input class="btn-add-friend" type="submit" value="ADD FRIEND">
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">
        <div class="triangles">
            <div class="background-triangle">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAOQAAAAJGRkYzVlZjc1LThiOTAtNDY4MS05MTEyLWFhNjgzNTRkNmUwZQ.jpg">
            </div>
            <div class="profile-triangle">
                <img id="profile-pic" src="">
            </div>
            <div class="profile-shadow1"></div>
            <div class="profile-shadow2"></div>
            <div class="profile-shadow3"></div>
        </div>
    </section>

</main>

<!--FOOTER NAVIGATION-->
<footer>

    <a href="views/friends_view.html">View Friends</a>
    <a href="views/newFriends_view.html">Find Friends</a>
    <a href="views/update_profile_view.html">Update Profile</a>

</footer>
