<header>
    <svg class="nav-button" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
        <title>Icon 24px</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Frinds-viiew" transform="translate(-19.000000, -18.000000)">
                <g id="Icon-24px" transform="translate(29.400000, 28.400000) rotate(-180.000000) translate(-29.400000, -28.400000) translate(15.000000, 14.000000)">
                    <polygon id="Shape" points="0 0 28.8 0 28.8 28.8 0 28.8"></polygon>
                    <polygon id="Shape" fill="#000000" points="14.4 4.8 12.708 6.492 19.404 13.2 4.8 13.2 4.8 15.6 19.404 15.6 12.708 22.308 14.4 24 24 14.4"></polygon>
                </g>
            </g>
        </g>
    </svg>
    <h6>DevMountain</h6>
    <!--HAM MENU-->
    <svg class="nav-button" width="28px" height="15px" viewBox="0 0 28 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch -->
        <title>Ham</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
            <g id="Initial-View" transform="translate(-565.000000, -17.000000)" stroke="#979797" stroke-width="1.80000007">
                <g id="Group" transform="translate(-0.600000, 0.000000)">
                    <g id="Ham" transform="translate(566.400023, 17.400001)">
                        <path d="M0.300000012,0.900000036 L19.5093735,0.900000036" id="Line"></path>
                        <path d="M6.30000025,6.90000027 L25.5093737,6.90000027" id="Line-Copy"></path>
                        <path d="M0.300000012,12.9000005 L19.5093735,12.9000005" id="Line-Copy-2"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</header>

<main>
    <section class="left-side">
        <br>
        <h1 id="first-name">Chis</h1>
        <h1 id="last-name">Johnson</h1>
        <p id="tagline">SOME AWESOME TAGLINE ABOUT YOU</p>
        <p class="para"> Lorem ipsum dolor sit amet, luctus neque adipiscing. 
            Fusce taciti, nec porta varius, nec turpis. Tristique 
            lacus sem, aliquam feugiat amet, purus fusce ipsum. 
            In eget, vestibulum a mauris, et amet enim. Ornare lacus.
            Tincidunt praesent, quia euismod, aliquam vestibulum. Amet eget 
            volutpat. Quam vehicula enim. Numquam est vel, wisi scelerisque.</p> 
        <p class="para"> Id nibh rhoncus, ullamcorper ipsum, ullamcorper eget nulla. 
            Velit suscipit proin. Tincidunt praesent, quia euismod, 
            aliquam vestibulum. Amet eget volutpat. Quam vehicula enim. 
            Numquam est vel, wisi scelerisque.</p>
    </section>
    <section class="right-side">

    </section>
</main>

<footer>
    <a href="" class="active">View Friends</a>
    <a href="">Find Friends</a>
    <a href="">Update Profile</a>
</footer>