<!--NAVIGATION-->
<header ng-init="aTag='Find Friends'">

  <img class="nav-button" src="images/Icons/Back-Arrow.svg" ng-click="back()">
  <h6>DevMountain</h6>
  <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--PROFILE INFORMATION & FRIEND SEARCH-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">{{pfFirst}}</h1>
        <h1 id="last-name">{{pfLast}}</h1>
        <p id="tagline">{{pTagline}}</p>
        <p class="para">{{pBio}}</p>
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">

        <!--FRIEND SEARCH BAR-->
        <div class="friend-header">

            <!--SEARCH BUTTON-->
            <img class="nav-button" id="svg-side-border" src="images/Icons/Search.svg">
            <input class="search-friends" id="animate" placeholder="Search Friends" ng-model="friendFilter">

            <h6>Search For Friends</h6>

        </div>

        <!--FRIEND PICTURES-->
        <div class="friend-pics">
          <div class="pic" ng-repeat="nf in nonFriends | filter: friendFilter">
            <img src="{{nf.profileUrl}}">
            <div class="hover-over">
              <p>{{nf.name}}</p>
              <pre ng-click="storeFriend(nf)" ui-sref="fProfile">View Profile</pre>
            </div>
          </div>
        </div>

    </section>

</main>
