<!--NAVIGATION-->
<header ng-init="aTag='Update Profile'">

  <img class="nav-button" src="images/Icons/Back-Arrow.svg" ng-click="back()">
  <h6>DevMountain</h6>
  <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--PROFILE INFORMATION & UPDATE INPUT AREA-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">{{pfFirst}}</h1>
        <h1 id="last-name">{{pfLast}}</h1>
        <p id="tagline">{{pTagline}}</p>
        <p class="para">{{pBio}}</p>
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">
      <div class="friend-header">
          <h4 id="pSettings-header">Profile Settings</h4>
      </div>
      <div class="update-profile">
        <input class="small-box" id="resized-box" type="text" placeholder="Full Name" ng-model="fullName">
        <input class="small-box" id="resized-box" type="text" placeholder="Tagline" ng-model="pTagline">
        <input class="small-box" id="resized-box" type="text" placeholder="Profile Image Url" ng-model="pPic">
        <textarea class="large-box" id="resized-box" type="text" placeholder="Bio" ng-model="pBio"></textarea><br>
      </div>
      <input class="btn" type="submit" value="Save Changes" ui-sref="landing" ng-click="saveProfile()">
    </section>

</main>
