<!--NAVIGATION-->
<header>

  <img class="nav-button" src="images/Icons/Back-Arrow.svg">
  <h6>DevMountain</h6>
  <img class="nav-button" src="images/Icons/Ham.svg">

</header>

<!--PROFILE INFORMATION & UPDATE INPUT AREA-->
<main>

    <!--LEFT SECTION OF MAIN-->
    <section class="left-side">
        <br>
        <h1 id="first-name">Chis</h1>
        <h1 id="last-name">Johnson</h1>
        <p id="tagline">SOME AWESOME TAGLINE ABOUT YOU</p>
        <p class="para"> Lorem ipsum dolor sit amet, luctus neque adipiscing.
            Fusce taciti, nec porta varius, nec turpis. Tristique
            lacus sem, aliquam feugiat amet, purus fusce ipsum.
            In eget, vestibulum a mauris, et amet enim. Ornare lacus.
            Tincidunt praesent, quia euismod, aliquam vestibulum. Amet eget
            volutpat. Quam vehicula enim. Numquam est vel, wisi scelerisque.</p>
        <p class="para"> Id nibh rhoncus, ullamcorper ipsum, ullamcorper eget nulla.
            Velit suscipit proin. Tincidunt praesent, quia euismod,
            aliquam vestibulum. Amet eget volutpat. Quam vehicula enim.
            Numquam est vel, wisi scelerisque.</p>
    </section>

    <!--RIGHT SECTION OF MAIN-->
    <section class="right-side">
      <div class="friend-header">
          <h4>Profile Settings</h4>
      </div>
      <div class="update-profile">
        <input class="small-box" id="resized-box" type="text" placeholder="Full Name">
        <input class="small-box" id="resized-box" type="text" placeholder="Tagline">
        <input class="small-box" id="resized-box" type="text" placeholder="Profile Image Url">
        <textarea class="large-box" id="resized-box" type="text" placeholder="Bio"></textarea><br>
      </div>
      <input class="btn" type="submit" value="Save Changes">
    </section>

</main>
